[tool.poetry]
name = "route-detect"
version = "0.5.0"
description = "TODO"
authors = []
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/mschwager/route-detect"
homepage = "https://github.com/mschwager/route-detect"
packages = [{include = "routes"}]

[tool.poetry.dependencies]
python = "^3.7"
semgrep = "^1.9.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
pytest-cov = "^4.0"
pre-commit = "^2.21.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.scripts]
routes = "routes.__main__:main"

[tool.coverage.run]
source = ["routes"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
